In [2]:
import psycopg2

# Connexion à la base de données
conn = psycopg2.connect(
    dbname="Adventureworks",
    user="passion",           # remplace si ton utilisateur est différent
    password="secret",         # adapte au bon mot de passe
    host="localhost",
    port="5432"
)

# Créer un curseur
cur = conn.cursor()

# Exemple de requête : afficher les 5 premières personnes
cur.execute("SELECT * FROM humanresources.employee LIMIT 10;")

# Récupérer les résultats
rows = cur.fetchall()

# Afficher les résultats
for row in rows:
    print(row)

# Fermer la connexion
cur.close()
conn.close()

(1, '295847284', 'adventure-works\\ken0', 'Chief Executive Officer', datetime.date(1969, 1, 29), 'S', 'M', datetime.date(2009, 1, 14), True, 99, 69, True, 'f01251e5-96a3-448d-981e-0f99d789110d', datetime.datetime(2014, 6, 30, 0, 0), '/')
(2, '245797967', 'adventure-works\\terri0', 'Vice President of Engineering', datetime.date(1971, 8, 1), 'S', 'F', datetime.date(2008, 1, 31), True, 1, 20, True, '45e8f437-670d-4409-93cb-f9424a40d6ee', datetime.datetime(2014, 6, 30, 0, 0), '/1/')
(3, '509647174', 'adventure-works\\roberto0', 'Engineering Manager', datetime.date(1974, 11, 12), 'M', 'M', datetime.date(2007, 11, 11), True, 2, 21, True, '9bbbfb2c-efbb-4217-9ab7-f97689328841', datetime.datetime(2014, 6, 30, 0, 0), '/1/1/')
(4, '112457891', 'adventure-works\\rob0', 'Senior Tool Designer', datetime.date(1974, 12, 23), 'S', 'M', datetime.date(2007, 12, 5), False, 48, 80, True, '59747955-87b8-443f-8ed4-f8ad3afdf3a9', datetime.datetime(2014, 6, 30, 0, 0), '/1/1/1/')
(5, '695256908', 'adventure-works\\gail0', 'Design Engineer', datetime.date(1952, 9, 27), 'M', 'F', datetime.date(2008, 1, 6), True, 5, 22, True, 'ec84ae09-f9b8-4a15-b4a9-6ccbab919b08', datetime.datetime(2014, 6, 30, 0, 0), '/1/1/2/')
(6, '998320692', 'adventure-works\\jossef0', 'Design Engineer', datetime.date(1959, 3, 11), 'M', 'M', datetime.date(2008, 1, 24), True, 6, 23, True, 'e39056f1-9cd5-478d-8945-14aca7fbdcdd', datetime.datetime(2014, 6, 30, 0, 0), '/1/1/3/')
(7, '134969118', 'adventure-works\\dylan0', 'Research and Development Manager', datetime.date(1987, 2, 24), 'M', 'M', datetime.date(2009, 2, 8), True, 61, 50, True, '4f46deca-ef01-41fd-9829-0adab368e431', datetime.datetime(2014, 6, 30, 0, 0), '/1/1/4/')
(8, '811994146', 'adventure-works\\diane1', 'Research and Development Engineer', datetime.date(1986, 6, 5), 'S', 'F', datetime.date(2008, 12, 29), True, 62, 51, True, '31112635-663b-4018-b4a2-a685c0bf48a4', datetime.datetime(2014, 6, 30, 0, 0), '/1/1/4/1/')
(9, '658797903', 'adventure-works\\gigi0', 'Research and Development Engineer', datetime.date(1979, 1, 21), 'M', 'F', datetime.date(2009, 1, 16), True, 63, 51, True, '50b6cdc6-7570-47ef-9570-48a64b5f2ecf', datetime.datetime(2014, 6, 30, 0, 0), '/1/1/4/2/')
(10, '879342154', 'adventure-works\\michael6', 'Research and Development Manager', datetime.date(1984, 11, 30), 'M', 'M', datetime.date(2009, 5, 3), True, 16, 64, True, 'eaa43680-5571-40cb-ab1a-3bf68f04459e', datetime.datetime(2014, 6, 30, 0, 0), '/1/1/4/3/')

In [3]:
import psycopg2

conn = psycopg2.connect(
    dbname="Adventureworks",
    user="passion",
    password="secret",
    host="localhost",
    port="5432"
)

cur = conn.cursor()

# Vérifie si la table existe
cur.execute("""
SELECT EXISTS (
    SELECT 1
    FROM information_schema.tables 
    WHERE table_schema = 'sales'
    AND table_name = 'salesorderdetail'
);
""")
exists = cur.fetchone()[0]

if exists:
    print("✅ La table existe. Voici les colonnes :")
    
    # Lister les colonnes de la table
    cur.execute("""
        SELECT column_name, data_type
        FROM information_schema.columns
        WHERE table_schema = 'sales'
        AND table_name = 'salesorderdetail'
        ORDER BY ordinal_position;
    """)
    
    columns = cur.fetchall()
    
    for name, dtype in columns:
        print(f"• {name} ({dtype})")
else:
    print("❌ La table sales.salesorderdetail n'existe pas.")

cur.close()
conn.close()

✅ La table existe. Voici les colonnes :
• salesorderid (integer)
• salesorderdetailid (integer)
• carriertrackingnumber (character varying)
• orderqty (smallint)
• productid (integer)
• specialofferid (integer)
• unitprice (numeric)
• unitpricediscount (numeric)
• rowguid (uuid)
• modifieddate (timestamp without time zone)